{% load widget_tweaks %}

{% for field in form %}
<div class="mb-3">
    <labe class="form-label">
        {{ field.label }}
    </labe>
    {{ field | add_class:"form-control" | add_error_class:"is-invalid" }}
    {% if not field.errors %}
        {% if field.help_text %}
            <p class="form-text">{{ field.help_text }}</p>
        {% endif %}
    {% else %}
        {% for error in field.errors %}
            <p class="invalid-feedback">{{ error }}</p>
        {% endfor %}
    {% endif %}
</div>
{% endfor %}
