<nav class="navbar has-background-warning" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
        <a class="navbar-item has-text-weight-bold" href="{% url 'articles:article_list' %}">
            Home
        </a>
    </div>
    <div class="navbar-end">
        {% if request.user.is_authenticated %}
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="{% url 'articles:article_create' %}">
                        <span class="icon">
                        <i class="fas fa-plus"></i>
                        </span>
                        <span>新しい記事を作成する</span>
                    </a>
                    {% include "accounts/logout_modal.html" %}
                </div>
            </div>
        {% else %}
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="{% url 'accounts:signup' %}">
                        <strong>ユーザー登録</strong>
                    </a>
                    <a class="button is-light" href="{% url 'accounts:login' %}">
                        ログイン
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</nav>
