<a class="button is-danger show-modal" data-target="logout-modal">ログアウト</a>

<div class="modal" id="logout-modal">
    <div class="modal-background"></div>
    <button class="modal-close is-large" aria-label="close" data-target="logout-modal"></button>
    <div class="modal-card">
        <section class="modal-card-body">
            本当にログアウトしますか？
        </section>
        <footer class="modal-card-foot">
            <form method="POST" action="{% url "accounts:logout" %}">
                {% csrf_token %}
                <button type="submit" class="button is-danger">はい</button>
            </form>
        </footer>
    </div>
</div>

