{% extends '_base.html' %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | ユーザー登録
{% endblock title %}

{% block content %}
<div class="container">
    <h3>ユーザー登録</h3>
    <form action="." method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <labe class="form-label">
                    {{ field.label }}
                </labe>
                {{ field | add_class:"form-control" | add_error_class:"is-invalid" }}
                {% if not field.errors %}
                    {% if field.help_text %}
                        <p class="form-text">{{ field.help_text }}</p>
                    {% endif %}
                {% else %}
                    {% for error in field.errors %}
                        <p class="invalid-feedback">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <button class="button is-primary" type="submit">登録</button>
    </form>
</div>
{% endblock content %}
