{% extends '_base.html' %}

{% block title %}
    {{ block.super }} | 記事一覧
{% endblock title %}

{% block content %}
<div class="container">
    <h1>記事一覧</h1>
    <div class="row">
        <div class="col">
            <div class="row gy-4">
                {% for object in object_list %}
                    <a href="{{ object.get_absolute_url }}" class="card text-decoration-none">
                        <div class="card-body">
                            <h5 class="card-title">{{ object.title }}</h5>
                            <h6 class="card-subtitle text-muted">{{ object.get_description }}</h6>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
