{% extends '_base.html' %}

{% block title %}
    {{ block.super }}| 記事作成
{% endblock title %}

{% block content %}
<div class="container">
    <h3>記事作成</h3>
    {% comment %} <form action="." method="POST"></form> {% endcomment %}
    <form action="{% url 'articles:article_create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} <div class="mb-3">
            <label class="form-label">URL名</label>
            <input class="form-control" type="text" name="slug" placeholder="articles/の後に続くURL名を設定">
        </div>
        <div class="mb-3">
            <label class="form-label">記事タイトル</label>
            <input class="form-control" type="text" name="title">
        </div>
        <div class="mb-3">
            <label class="form-label">記事の概要</label>
            <input class="form-control" type="text" name="description">
        </div>
        <div class="mb-3">
            <label class="form-label">内容</label>
            <textarea class="form-control" name="content" id="content" cols="30" rows="10" placeholder="記事内容を自由に書いて下さい"></textarea>
        </div> {% endcomment %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">保存</button>
    </form>
</div>
{% endblock content %}
