{% extends '_base.html' %}

{% block title %}{% endblock title %}

{% block content %}
<div class="section">
    <div class="block is-flex is-justify-content-space-between">
        <div>
            <a href="{% url 'articles:article_list' %}" class="button is-small">戻る</a>
        </div>
    </div>
    <div class="mt-3">
        {% if object.thumbnail %}
            <figure class="image is-16by9">
                <img src="{{ object.thumbnail.url }}" alt="{{ object.thumbnail.name }}">
            </figure>
        {% endif %}
        <div class="title">{{ object.title }}</div>
        {% if object.description %}
            <div>{{ object.description }}</div>
        {% endif %}
        <div class="mt-3">
            <div class="content">
                {{ object.content }}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
