{% extends '_base.html' %}

{% block title %}
    {{ block.super }} | 記事一覧
{% endblock title %}

{% block content %}
<div class="section">
    <h1>記事一覧</h1>
    <div class="tile is-parent is-vertical">
        {% for object in object_list %}
            <div class="tile is-child notification">
                <p>
                    <a class="title" href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                </p>
                <p class="subtitle">{{ object.get_description }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
