{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- local -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>
        {% block title %}Django基礎{% endblock title %}
    </title>
</head>
<body>
    {% include 'partials/header.html' %}
    <div class="container is-widescreen">
        <div>
            <div class="columns is-centered">
                <div class="column is-8 mb-6">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </div>
    <!-- flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- local -->
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/bulma.js' %}"></script>
    <script src="{% static 'js/flatpickr.js' %}"></script>
</body>
</html>
